$color-text: #000;
$color-link: #383737;
$color-shadow: rgb(0, 0, 0, 0.089);
$color-border: rgba(0, 0, 0, 0.2);
$btn-color-text: #dceaee;
$btn-color: #3da1fd;
$btn-color-hover: #0b61b9;
$btn-color-disabled: #d5d4d2;
$background-color-link: #eee;
$background-color-grass: rgba(124, 252, 0);
$background-color-rock: rgba(90, 77, 65);
$background-color-ghost: rgba(156, 155, 152);
$background-color-electric: #7df9ff;
$background-color-bug: #f6d6a7;
$background-color-poison: #e0a7f6;
$background-color-normal: #f4f4f4;
$background-color-fairy: rgba(255, 230, 215);
$background-color-fire: #aa4203;
$background-color-water: #00ffff;
$background-color-ground: #3e4646;
$background-color-fighting: #39eedf;